---
import Layout from "../layout/layout.astro";
---

<Layout>
  <section class="bg-white dark:bg-gray-900">
    <div class="py-8 px-4 mx-auto max-w-screen-xl text-center lg:py-16">
      <div class="flex justify-center mb-8">
        <img src="/hero.png" alt="Pico y Placa" class="rounded-lg max-w-full h-auto lg:max-w-4xl">
      </div>
      <h1 class="mb-4 text-4xl font-extrabold tracking-tight leading-none text-gray-900 md:text-5xl lg:text-6xl dark:text-white">Verifica el Pico y Placa de tu vehículo</h1>
      <p class="mb-8 text-lg font-normal text-gray-500 lg:text-xl sm:px-16 lg:px-48 dark:text-gray-400">Registra tu vehículo para recibir notificaciones sobre el Pico y Placa en tu ciudad.</p>
      
    </div>
  </section>
</Layout>