---
import UserLayout from '../../layout/user.astro';
---

<UserLayout>
  <section class="bg-white dark:bg-gray-900">
    <div class="py-8 px-4 mx-auto max-w-screen-xl lg:py-16">
        <h2 class="mb-4 text-4xl tracking-tight font-extrabold leading-tight text-gray-900 dark:text-white">Calendario de Pico y Placa</h2>
        <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
            <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
                <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                    <tr>
                        <th scope="col" class="px-6 py-3">Lun</th>
                        <th scope="col" class="px-6 py-3">Mar</th>
                        <th scope="col" class="px-6 py-3">Mié</th>
                        <th scope="col" class="px-6 py-3">Jue</th>
                        <th scope="col" class="px-6 py-3">Vie</th>
                        <th scope="col" class="px-6 py-3">Sáb</th>
                        <th scope="col" class="px-6 py-3">Dom</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                        <td class="px-6 py-4"></td>
                        <td class="px-6 py-4"></td>
                        <td class="px-6 py-4">1</td>
                        <td class="px-6 py-4">2</td>
                        <td class="px-6 py-4">3</td>
                        <td class="px-6 py-4">4</td>
                        <td class="px-6 py-4">5</td>
                    </tr>
                    <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                        <td class="px-6 py-4">6</td>
                        <td class="px-6 py-4">7</td>
                        <td class="px-6 py-4">8</td>
                        <td class="px-6 py-4">9</td>
                        <td class="px-6 py-4">10</td>
                        <td class="px-6 py-4">11</td>
                        <td class="px-6 py-4">12</td>
                    </tr>
                    <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                        <td class="px-6 py-4">13</td>
                        <td class="px-6 py-4">14</td>
                        <td class="px-6 py-4 font-bold text-blue-600">15</td>
                        <td class="px-6 py-4">16</td>
                        <td class="px-6 py-4">17</td>
                        <td class="px-6 py-4">18</td>
                        <td class="px-6 py-4">19</td>
                    </tr>
                    <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                        <td class="px-6 py-4">20</td>
                        <td class="px-6 py-4">21</td>
                        <td class="px-6 py-4">22</td>
                        <td class="px-6 py-4">23</td>
                        <td class="px-6 py-4">24</td>
                        <td class="px-6 py-4">25</td>
                        <td class="px-6 py-4">26</td>
                    </tr>
                    <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                        <td class="px-6 py-4">27</td>
                        <td class="px-6 py-4">28</td>
                        <td class="px-6 py-4">29</td>
                        <td class="px-6 py-4">30</td>
                        <td class="px-6 py-4">31</td>
                        <td class="px-6 py-4"></td>
                        <td class="px-6 py-4"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
  </section>
</UserLayout>
