@tailwind base;
@tailwind components;
@tailwind utilities;

/* Flowbite se importa vía npm */

:root {
    /* Colores primarios */
    --color-primary-50: #e6f7ff;
    --color-primary-100: #bae7ff;
    --color-primary-200: #91d5ff;
    --color-primary-300: #69c0ff;
    --color-primary-400: #40a9ff;
    --color-primary-500: #1890ff;
    --color-primary-600: #096dd9;
    --color-primary-700: #0050b3;
    --color-primary-800: #003a8c;
    --color-primary-900: #002766;
    --color-primary-950: #001a4d;

    /* Colores secundarios */
    --color-secondary-50: #e6fffb;
    --color-secondary-100: #b5f5ec;
    --color-secondary-200: #87e8de;
    --color-secondary-300: #5cdbd3;
    --color-secondary-400: #36cfc9;
    --color-secondary-500: #13c2c2;
    --color-secondary-600: #08979c;
    --color-secondary-700: #006d75;
    --color-secondary-800: #00474f;
    --color-secondary-900: #002329;
}