---
const { text, url } = Astro.props;
---

<a href={url} class="inline-flex items-center justify-center px-5 py-3 text-base font-medium text-center text-white bg-secondary-500 rounded-lg hover:bg-secondary-600 focus:ring-4 focus:ring-secondary-300 dark:focus:ring-secondary-700 shadow-md cursor-pointer">
    {text}
</a>
