---
const { text, url } = Astro.props;
---

<a href={url} class="inline-flex items-center justify-center px-5 py-3 text-base font-medium text-center text-white bg-picoBlue rounded-lg hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 dark:focus:ring-blue-900">
    {text}
</a>
