---
import BaseLayout from "./base.astro";
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";

// Recibir props y pasarlas al layout base
const { 
  title = "PicoAlert+ - Notificaciones de Pico y Placa en Bogotá",
  description = "Implementación de una API para notificación de pico y placa en Bogotá. Registra tu vehículo y recibe alertas en tiempo real.",
  keywords = "pico y placa, Bogotá, notificaciones, vehículos, restricciones, movilidad, API, PicoAlert+",
  ...restProps 
} = Astro.props;
---

<BaseLayout 
  title={title}
  description={description}
  keywords={keywords}
  ogImage={Astro.url.origin + "/Hero.jpg"}
  twitterImage={Astro.url.origin + "/Hero.jpg"}
  {...restProps}
>
  <Navbar />
  <main>
    <slot />
  </main>
  <Footer />
</BaseLayout>